.my_mobile_nav {
    clear: both;
    color: #fff;
    margin: 0;
    font-size: .875em;
}
.my_mobile_nav, .my_mobile_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.humberger__menu__wrapper .my_mobile_nav a {
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 0;
}

.humberger__menu__wrapper .my_mobile_nav ul {
    margin: 0;
}

.featured_shop_card{
    left: 0;
    right: 0;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0,0,0,.1); */
    transition: all .3s;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    max-height: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured_shop_card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);
}
.centered-image {
    display: block;
    margin: 0 auto; /* Center horizontally */
    max-width: 100%; /* Ensure image does not exceed container width */
  }
  
.featured_shop_card img{
    
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.featured_shop_card h4{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis;
}

.product_card{
    box-shadow: 0 3px 12px rgb(87 86 86/5%);
}
.product_card:hover{
    /* transform effect */
    transform: scale(1.05);
    transition: all 0.3s ease 0s;
    box-shadow: 0 3px 12px rgb(87 86 86/10%);
}
.old-price{
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}

.product__pagination li, .blog__pagination li {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
/* for active */
.product__pagination li.active a, .blog__pagination li.active a {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}
.product__pagination a:hover, .blog__pagination a:hover {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}